<template><div class="event-card mt-3">
    <b-media tag="li" @click="gotoEvent">
        <b-img slot="aside" v-if="event.thumb" :src="event.thumb" width="100" height="100" alt="placeholder" />
        <h5 class="mt-0 mb-1">{{ event.header }}</h5>
        {{ event.short_description }}
        <br>
    </b-media>
    <div class="mt-3 text-center" v-if="showButtons">
        <b-btn variant="primary" size="sm" class="mb-3" :to="{ name: 'event-confirm', params: { id: event.id }}">Подтвердить участие</b-btn>
        &nbsp;
        <b-btn variant="outline-primary" size="sm" class="mb-3" v-b-modal.decline-modal>Не участвовал</b-btn>
    </div>
    <b-modal v-if="showButtons" id="decline-modal" @ok="declineParticipation" ok-title="Верно, я не участвовал" cancel-title="Отмена" title="Отмена участия">
        <p>Подтвердите, что вы не приняли участие в акции</p>
    </b-modal>
</div></template>

<script>
import axios from 'axios'
export default {
    props: ['event', 'showButtons'],
    data() {
        return {}
    },
    methods: {
        gotoEvent() {
            this.$router.push({ name: 'event', params: { id: this.event.id } })
        },
        declineParticipation() {
            return axios.get(`/events/${this.event.id}/not_participated/`)
                .then(() => this.$emit('refresh'))
        }
    }
}
</script>

<style>
    .event-card {
        border: 1px solid #ddd;
        padding: 10px;
        cursor: pointer;
    }
    .event-card:hover {
        background: #f0f0f0;
    }
</style>