<template>
    <span>
        <template v-if="!hidden">
            <form enctype="multipart/form-data" novalidate> <!-- v-if="isInitial || isSaving"-->
                <div class="dropbox">
                    <input
                            type="file"
                            :multiple="multiple"
                            :name="uploadFieldName"
                            :disabled="isSaving"
                            @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                            class="input-file"
                    >
                    <!--accept="image/*"-->
                    <p v-if="isInitial">
                        <span v-if="formData">Файл выбран<br><br></span>
                        <span v-else>Перетащите файл<span v-if="multiple">ы</span> на эту область<br> или нажмите для загрузки</span>
                    </p>
                    <p v-if="isSuccess">
                        Файлы загружены!<br>Если необходимо, загрузите ещё.
                    </p>
                    <p v-if="isSaving">
                        Загрузка файлов...
                    </p>
                </div>
            </form>
        </template>
        <template v-else>
            <input
                type="file"
                :multiple="multiple"
                :name="uploadFieldName"
                :disabled="isSaving"
                accept="image/*"
                @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                class="input-file-hidden"
            >
        </template>
        <!--<div v-if="isSuccess">-->
            <!--<h2>Uploaded {{ uploadedFiles.length }} file(s) successfully.</h2>-->
            <!--<p>-->
                <!--<a href="javascript:void(0)" @click="reset()">Upload again</a>-->
            <!--</p>-->
            <!--&lt;!&ndash;<ul class="list-unstyled">&ndash;&gt;-->
                <!--&lt;!&ndash;<li v-for="item in uploadedFiles">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img :src="item.url" class="img-responsive img-thumbnail" :alt="item.originalName">&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--</div>-->
        <!--<div v-if="isFailed">-->
            <!--<h2>Uploaded failed.</h2>-->
            <!--<p>-->
                <!--<a href="javascript:void(0)" @click="reset()">Try again</a>-->
            <!--</p>-->
            <!--<pre>{{ uploadError }}</pre>-->
        <!--</div>-->
    </span>
</template>


<script>

import axios from 'axios'
const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;

export default {
    props: {
        url: { required: true },
        uploadFieldName: { default: 'files' },
        hidden: { default: false },
        multiple: { default: false },
        url_is_absolute: { default: false },
        autoSave: { default: true },
    },
    data() {
        return {
            uploadedFiles: [],
            uploadError: null,
            currentStatus: null,
            formData: null
        }
    },
    computed: {
        isInitial() {
            return this.currentStatus === STATUS_INITIAL;
        },
        isSaving() {
            return this.currentStatus === STATUS_SAVING;
        },
        isSuccess() {
            return this.currentStatus === STATUS_SUCCESS;
        },
        isFailed() {
            return this.currentStatus === STATUS_FAILED;
        }
    },
    methods: {
        hit() {
            $(this.$el).find('input').click();
        },
        send() {
            if (this.formData) return this.save(this.formData)
            else return new Promise(function(resolve, reject) { resolve() })
        },
        reset() {
            // reset form to initial state
            this.currentStatus = STATUS_INITIAL;
            this.uploadedFiles = [];
            this.uploadError = null;
        },
        save(formData) {
            // upload data to the server
            this.currentStatus = STATUS_SAVING;
            var config = {}
            if (this.url_is_absolute) {
                config['baseURL'] = ''
            }
            return axios.post(this.url, formData, config)
                .then(x => x.data)
                //                .then(x => x.map(file => Object.assign(
                //                    {},
                //                    file,
                //                    { url: `${BASE_URL}/images/${img.id}` }
                //                )))
                .then(x => {
                    this.uploadedFiles = [].concat(x);
                    this.currentStatus = STATUS_SUCCESS;
                    setTimeout(() => {
                        this.$emit("success", this.uploadedFiles);
//                        this.reset();
                    }, 100)
                })
                .catch(err => {
                    console.log('shme');
                    this.uploadError = err.response;
                    this.currentStatus = STATUS_FAILED;
                    this.$emit("fail", this.uploadError)
                });
        },
        filesChange(fieldName, fileList) {
            // handle file changes
            const formData = new FormData();

            if (!fileList.length) return;

            // append the files to FormData
            Array
                .from(Array(fileList.length).keys())
                .map(x => {
                    formData.append(fieldName, fileList[x], fileList[x].name);
                });

            // save it
            if (this.autoSave) {
                this.save(formData);
            }
            else {
                this.formData = formData
            }
        }
    },
    mounted() {
        this.reset();
    },
    watch: {
        currentStatus(v) {
            this.$emit('status', v)
        }
    }
}

</script>


<style lang="scss">
    .dropbox {
        outline: 2px dashed grey;
        outline-offset: -10px;
        /*background: lightcyan;*/
        color: dimgray;
        padding: 10px 10px;
        min-height: 100px;
        position: relative;
        cursor: pointer;
    }

    .input-file {
        opacity: 0;
        width: 100%;
        height: 100px;
        position: absolute;
        cursor: pointer;
    }

    .input-file-hidden {
        display: none;
    }

    .dropbox:hover {
        /*background: lightblue;*/
        background: #c4e3f3;
    }

    .dropbox p {
        font-size: 1.2em;
        text-align: center;
        padding: 30px 0 20px 0;
    }
</style>