<template><div>

    <b-navbar toggleable="md" type="light" variant="primary">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-collapse is-nav id="nav_collapse">
            
            <b-navbar-brand href="/app/">
                Сила Действия
            </b-navbar-brand>

            <b-navbar-nav>
                <b-nav-item-dropdown>
                    <template slot="button-content">
                        Акции
                    </template>
                        <b-dropdown-item :to="{ name: 'events-future' }">Предстоящие акции</b-dropdown-item>
                        <b-dropdown-item :to="{ name: 'events-past' }">Прошедшие акции</b-dropdown-item>
                        <template v-if="!profile.is_anonymous">
                            <b-dropdown-item :to="{ name: 'events-my-future' }">Мои предстоящие акции</b-dropdown-item>
                            <b-dropdown-item :to="{ name: 'events-my-past' }">Мои прошедшие акции</b-dropdown-item>
                        </template>
                </b-nav-item-dropdown>

                <b-nav-item :to="{ name: 'rating' }">Рейтинг волонтёров</b-nav-item>
                <!-- <b-nav-item :to="{ name: 'managers' }">Партнёры</b-nav-item> -->

            </b-navbar-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <template v-if="profile.is_anonymous">
                    <b-nav-item href="/login/">Войти</b-nav-item>
                    <b-nav-item href="/register/">Зарегистрироваться</b-nav-item>
                </template>
                <!-- <template v-if="profile.is_staff">
                    <b-nav-item-dropdown right v-if="profile.user_id">
                        <template slot="button-content">
                            Администрирование
                        </template>
                        <b-dropdown-item :to="{ name: 'moderation' }">Модерация фото</b-dropdown-item>
                        <b-dropdown-item :to="{ name: 'events-all' }">Список всех акций</b-dropdown-item>
                        <b-dropdown-item :to="{ name: 'event-create' }">Создать акцию</b-dropdown-item>
                        <b-dropdown-item href="/admin/" target="_blank">Вход в систему управления</b-dropdown-item>
                    </b-nav-item-dropdown>
                </template> -->
                <b-nav-item-dropdown right v-if="profile.user_id">
                    <template slot="button-content">
                        <span class="fa fa-user"></span>
                        {{ profileShortName }} ({{ profile.points}} баллов)
                    </template>
                    <b-dropdown-item :to="{ name: 'profile' }">Настройки профиля</b-dropdown-item>
                    <b-dropdown-item href="/logout/">Выйти</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>

        </b-collapse>
    </b-navbar>
    
</div></template>


<script>

import { mapState, mapGetters } from 'vuex'

export default {
    computed: {
        ...mapState(['profile']),
        ...mapGetters(['profileShortName'])
    }
}
</script>
