<template><div>
    <h1>{{ current.question }}</h1>
    <div class="row">
        <div class="col-md-6 variant" @click="push(variant.value)" v-for="variant in current.variants" :key="current.id + '-' + variant.value">
            <p><img class="variant-img" :src="'/static/img/sketches/' + current.id + '_' + variant.value + '.png'"></p>
            <b-btn v-if="variant.value == 1" variant="outline-success">{{ variant.text }}</b-btn>
            <b-btn v-if="variant.value == 0" variant="outline-danger">{{ variant.text }}</b-btn>
        </div>
    </div>
</div></template>

<script>
export default {
    props: ['current'],
    data() {
        return {}
    },
    methods: {
        push(variant_id) {
            this.$emit("pushed", variant_id)
        }
    }
}
</script>

<style>
    .variant {
        text-align: center;
        cursor: pointer;
    }
    .variant-img {
        width: 100%;
    }
</style>