<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Сила Действия</title>
    <link href="{% static 'css/build.css' %}?v=1" rel="stylesheet">
</head>
<body>
    <div id="app"></div>
    <script src="{% static 'build.js' %}?v=1"></script>
</body>
</html>