<!DOCTYPE html>
<html lang="en">

{% load static %}
<script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>

<style>
    body, html {
        height: 100%;
        text-align: center;
    }
    #pic_2 {
        display: none;
    }
    .pic {
        width: 100%;
        height: 100%;
        overflow: scroll;
        text-align: center;
    }
    .pic, .pic img {
        height: 100%;
    }
</style>

<head>
</head>

<body>

    <div id="pic_1" class="pic">
        <img src="/media/imgs/combined_1.png"></img>
    </div>
    <div id="pic_2" class="pic">
        <img src="/media/imgs/combined_2.png"></img>
    </div>

    <script>
        $("#pic_1").click(function(){
            $("#pic_1").hide()
            $("#pic_2").show()
        })

        $("#pic_2").click(function(){
            window.location.href = "/app/test/"
        })

    </script>
</body>
</html>