<template><div>
    <h3 v-if="id">Редактирование акции</h3>
    <h3 v-else>Создание акции</h3>

    <b-form-group label="Заголовок акции" label-for="header">
        <b-form-input id="header"
                      type="text"
                      v-model="event.header"
                      required>
        </b-form-input>
    </b-form-group>

    <b-form-group label="Изображение" label-for="image">
        <div v-if="event.image" class="text-center">
            <b-img thumbnail fluid :src="event.thumb"></b-img>
        </div>        
        <file-upload
            ref="upload"
            :autoSave="false"
            :url="imageUrl">
        </file-upload>
    </b-form-group>

    <b-form-group label="Дата проведения" label-for="date">
        <date-picker id="date" v-model="event.date" :calendar-button="true" :monday-first="true" format="dd.MM.yyyy" calendar-button-icon="fa fa-calendar" :bootstrap-styling="true" :language="ru"></date-picker>
    </b-form-group>

    <b-form-group label="Место проведения" label-for="place">
        <b-form-input id="place"
                      type="text"
                      v-model="event.place"
                      required>
        </b-form-input>
    </b-form-group>

    <b-form-group label="Краткое описание" label-for="short_description">
        <b-form-input id="short_description"
                      type="text"
                      v-model="event.short_description"
                      required>
        </b-form-input>
    </b-form-group>

    <b-form-group label="Текст акции" label-for="text">
        <b-form-textarea id="text"
                      type="text"
                      v-model="event.text"
                      rows="5"
                      required>
        </b-form-textarea>
    </b-form-group>

    <b-form-group label="Требования к фотоподтверждению" label-for="confirmation_requirements">
        <b-form-textarea id="confirmation_requirements"
                      type="text"
                      v-model="event.confirmation_requirements"
                      rows="5"
                      required>
        </b-form-textarea>
    </b-form-group>

    <b-form-group label="Теги" label-for="tags">
        <tags-input id="tags" v-model="selectedTags" :existing-tags="existingTags" :typeahead="true" placeholder="Введите теги"></tags-input>
    </b-form-group>

    <b-form-group>
        <b-form-checkbox v-model="event.publish">Опубликовать</b-form-checkbox>
    </b-form-group>

    <b-button variant="primary" @click="saveEvent">Сохранить</b-button>

    <br><br>

</div></template>

<script>
    import axios from 'axios'
    import each from 'lodash/each'
    import filter from 'lodash/filter'
    import DatePicker from 'vuejs-datepicker'
    import {ru} from 'vuejs-datepicker/dist/locale'
    import TagsInput from '@voerro/vue-tagsinput'
    import moment from 'moment'
    import FileUpload from '../components/FileUpload.vue'

    export default {
        props: ['id'],
        data() {
            return {
                event: {
                    id: null,
                    header: '',
                    date: '',
                    image: null,
                    place: '',
                    publish: false,
                    short_description: '',
                    confirmation_requirements: '',
                    tags: [],
                    text: ''
                },
                selectedTags: [],
                rawExistingTags: {},
                ru: ru
            }
        },
        computed: {
            existingTags() {
                var result = {}
                each(this.rawExistingTags, i => result[i.id] = i.name)
                return result
            },
            tagsIDs() {
                var lst = []
                each(filter(this.selectedTags, (tag) => /^\d+$/.test(tag)), i=>lst.push(parseInt(i)))
                return lst
            },
            tagsNew() {
                return filter(this.selectedTags, (tag) => !/^\d+$/.test(tag))
            },
            imageUrl: {
                get() {
                    return `/events/${this.event.id}/upload_image/`
                },
                cache: false
            }
        },
        components: {
            DatePicker,
            TagsInput,
            FileUpload,
        },
        mounted() {
            this.fetchTags().then(() => { if (this.id) this.fetchEvent() })
        },
        methods: {
            fetchEvent() {
                return axios.get('/events/' + this.id + '/')
                    .then(response => {
                        this.event = response.data
                        this.selectedTags = []
                        each(this.event.tags, tag => this.selectedTags.push(tag.toString()))
                    })
            },
            fetchTags() {
                return axios.get('/tags/')
                    .then(response => this.rawExistingTags = response.data)
            },
            saveEvent() {
                delete(this.event.image)
                this.event.tags = this.tagsIDs
                this.event.date = moment(this.event.date).format('YYYY-MM-DD')
                if (this.id) {
                    return axios.patch('/events/' + this.id + '/', this.event)
                        .then(() => this.$refs['upload'].send())
                        .then(this.saveNewTags)
                        .then(() => this.$router.push({ name: 'event', params: { 'id': this.id }}))
                }
                else {
                    return axios.post('/events/', this.event)
                        .then(response => {
                            this.event = response.data
                            this.$router.push({ name: 'event-edit', params: { 'id': response.data.id }})                            
                        })
                        .then(() => this.$refs['upload'].send())
                        .then(this.saveNewTags)
                        .then(this.fetchEvent)
                }                
            },
            saveNewTags() {
                return axios.post('/events/' + this.id + '/new-tags/', this.tagsNew)
                    .then(this.fetchTags)
            },
            toggleUpload() {
                this.$refs['upload'].hit()
            },
        }
    }
</script>
