<template><div v-if="event.id">
    
    <h2 class="mb-3">Подтверждение участия в акции "{{ event.header }}"</h2>

    <h3>Требования к фотоподтверждению</h3>
    <div class="mb-3">
        {{ event.confirmation_requirements }}
    </div>

    <template v-if="state == 1">
        <p>
            <b-btn @click="toggleUpload" variant="primary">Загрузить фото</b-btn>
        </p>
    </template>
    <template v-if="state == 2 || state == 4">
        <p>
            <b-img thumbnail fluid :src="photo"></b-img>
        </p>
        <p>
            <b-btn @click="toggleUpload" variant="outline-primary" class="mb-3">Изменить фото</b-btn>
            <b-btn :to="{ name: 'event', params: { id: event.id } }" variant="primary" class="mb-3">Вернуться к акции</b-btn>
        </p>
    </template>

    <file-upload
        ref="upload"
        :hidden="true"
        :url="`/events/${event.id}/upload/`"
        @success="successUpload">
    </file-upload>

</div></template>

<script>

import axios from 'axios'
import FileUpload from '../components/FileUpload.vue'

export default {
    props: ['id'],
    data() {
        return {
            event: {},
            state: null,
            photo: null
        }
    },
    components: {
        FileUpload
    },
    mounted() {
        this.fetchEvent().then(this.checkEvent)
    },
    methods: {
        fetchEvent() {
            return axios.get(`/events/${this.id}/`)
                .then(response => this.event = response.data)
        },
        checkEvent() {
            return axios.get(`/events/${this.id}/check/`)
                .then(response => {this.state = response.data.state; this.photo = response.data.photo})
        },
        toggleUpload() {
            this.$refs['upload'].hit()
        },
        successUpload() {
            this.checkEvent()
        }
    }
}
</script>