<template><div>
    <h1>{{ header }}</h1>
    <p>
        <b-link v-if="showFilters == false" @click="showFilters = true">Показать фильтры</b-link>
        <b-link v-else @click="showFilters = false">Скрыть фильтры</b-link>
    </p>
    <template v-if="showFilters">
        <b-row>
            <b-col cols="6">
                <date-picker class="mb-1" v-model="dateFrom" :calendar-button="true" :monday-first="true" format="dd.MM.yyyy" calendar-button-icon="fa fa-calendar" :bootstrap-styling="true" :language="ru" placeholder="Дата с"></date-picker>
                <date-picker v-model="dateTo" :calendar-button="true" :monday-first="true" format="dd.MM.yyyy" calendar-button-icon="fa fa-calendar" :bootstrap-styling="true" :language="ru" placeholder="Дата по"></date-picker>
            </b-col>
            <b-col cols="6">
                <tags-input v-model="selectedTags" :existing-tags="existingTags" :only-existing-tags="true" :typeahead="true" placeholder="Введите теги"></tags-input>
            </b-col>
        </b-row>
        <br>
        <b-row>
            <b-col class="text-center">
                <b-btn size="sm" variant="outline-secondary" @click='clearFilters'>Очистить</b-btn>
                &nbsp;
                <b-btn size="sm" variant="primary" @click='applyFilters'>Применить</b-btn>
            </b-col>
        </b-row>
    </template>

    <h3 v-if="loaded && events.length == 0" class="mt-3">Акций нет</h3>
    <template v-else>
        <ul class="list-unstyled" v-if="mode != 'my-past'">
            <event-card v-for="event in events" v-if="all || event.publish" :key="event.id" :event="event"></event-card>
        </ul>

        <div v-else>
            <div v-if="pastEvents.waiting" class="mb-3">
                <h5>Ожидают подтверждения</h5>
                <event-card v-for="event in pastEvents.waiting" :key="event.id" :event="event" :showButtons="true" @refresh="fetchEvents"></event-card>
            </div>
            <div v-if="pastEvents.moderation" class="mb-3">
                <h5>Ожидают модерации</h5>
                <event-card v-for="event in pastEvents.moderation" :key="event.id" :event="event"></event-card>
            </div>
            <div v-if="pastEvents.confirmed" class="mb-3">
                <h5>Подтверждённые</h5>
                <event-card v-for="event in pastEvents.confirmed" :key="event.id" :event="event"></event-card>
            </div>
            <div v-if="pastEvents.declined" class="mb-3">
                <h5>Отклонённые</h5>
                <event-card v-for="event in pastEvents.declined" :key="event.id" :event="event"></event-card>
            </div>
        </div>
    </template>


</div></template>

<script>

import axios from 'axios'
import each from 'lodash/each'
import EventCard from '../components/EventCard.vue'
import DatePicker from 'vuejs-datepicker'
import {ru} from 'vuejs-datepicker/dist/locale'
import TagsInput from '@voerro/vue-tagsinput'
import moment from 'moment'

export default {
    props: ['mode', 'all'],
    data() {
        return {
            events: [],
            pastEvents: {},
            showFilters: false,
            dateFrom: '',
            dateTo: '',
            ru: ru,
            selectedTags: [],
            rawExistingTags: {},
            currentMode: '',
            savedMode: '',
            loaded: false,
        }
    },
    components: {
        EventCard,
        DatePicker,
        TagsInput
    },
    computed: {
        header() {
            switch(this.currentMode) {
                case 'future':
                    return 'Предстоящие акции'
                case 'my-future':
                    return 'Мои предстоящие акции'
                case 'past':
                    return 'Прошедшие акции'
                case 'my-past':
                    return 'Мои прошедшие акции'
                default:
                    return 'Акции'
            }
        },
        existingTags() {
            var result = {}
            each(this.rawExistingTags, i => result[i.id] = i.name)
            return result
        },
        urlSearchString() {
            var format = 'DD-MM-YYYY'
            var url = ''
            if (this.currentMode == 'filter') {
                if (this.dateFrom) url += '&date_from=' + moment(String(this.dateFrom)).format(format)
                if (this.dateTo) url += '&date_to=' + moment(String(this.dateTo)).format(format)
                if (this.selectedTags.length) url += '&tags=' + this.selectedTags.join(',')
                // if (this.all) url += '&all=1'
                return url
            }
            else return ''
        }
    },
    mounted() {
        this.savedMode = this.currentMode = this.mode
        this.fetchEvents()
        this.fetchTags()
    },
    methods: {
        fetchEvents() {
            this.loaded = false
            if (this.currentMode == 'my-past' && this.urlSearchString == '') {
                return axios.get('/my-past-events/')
                    .then(response => {this.pastEvents = response.data; this.loaded = true;})
            }
            else {
                return axios.get('/events/?mode=' + this.currentMode + this.urlSearchString)
                    .then(response => {this.events = response.data; this.loaded = true;})
            }
        },
        fetchTags() {
            return axios.get('/tags/')
                .then(response => {
                    this.rawExistingTags = response.data
                    if (this.$route.query.tags) this.selectedTags = this.$route.query.tags.split(',')
                })
        },
        clearFilters() {
            this.dateFrom = ''
            this.dateTo = ''
            this.selectedTags = []
            this.currentMode = this.savedMode
            this.fetchEvents()
        },
        applyFilters() {
            if (this.currentMode != 'filter') this.savedMode = this.currentMode
            this.currentMode = 'filter'
            this.fetchEvents()
        }
    },
    watch: {
        mode(new_mode) {
            this.events = []
            this.currentMode = new_mode
            this.fetchEvents()
        }
    }
}
</script>