<template><div>

    <h2 class="mb-3">{{ event.header }}</h2>
    <!-- <p v-if="profile && profile.is_staff" class="mb-3"><b-btn variant="outline-primary" size="sm" :to="{ name: 'event-edit', params: { id: event.id } }">Редактировать акцию</b-btn></p> -->

    <p class="text-center"><b-img fluid thumbnail :src="event.thumb" class="mb-3"></b-img></p>
    <b-row class="mb-3">
        <b-col cols="3" class="event-date">{{ event.date|formatDate('DD.MM.YYYY') }}</b-col>
        <b-col cols="9" class="event-place">{{ event.place }}</b-col>
    </b-row>
    <div class="mb-3">
        {{ event.text }}
    </div>

    <div v-if="event.manager">
        <h3>Организатор</h3>
        <p><b-link :to="{ name: 'manager', params: { id: event.manager.id }}">{{ event.manager.name }}</b-link></p>
    </div>

    <div v-if="!profile.is_anonymous">

        <h3>Требования к фотоподтверждению</h3>
        <div class="mb-3">
            {{ event.confirmation_requirements }}
        </div>
        
        <hr>

        <template v-if="event.id && event.is_actual">
            <div class="text-center">
                <b-btn v-if="state === null" variant="primary" class="mb-3" @click="joinEvent">Зарегистрироваться</b-btn>
                <p v-if="state === 1">Вы зарегистрированы в акции</p>
                <b-btn v-if="state === 1" variant="outline-primary" class="mb-3" @click="exitEvent">Отменить регистрацию</b-btn>
            </div>
        </template>

        <template v-if="event.id && !event.is_actual && state == 0">
            <div class="text-center">
                <p>Вы отменили участие в акции</p>
            </div>
        </template>

        <template v-if="event.id && !event.is_actual && state == 1">
            <div class="text-center">
                <b-btn variant="primary" class="mb-3" :to="{ name: 'event-confirm', params: { id: event.id }}">Подтвердить участие</b-btn>
                <b-btn variant="outline-primary" class="mb-3" v-b-modal.decline-modal>Не участвовал</b-btn>
            </div>
        </template>

        <template v-if="event.id && !event.is_actual && state == 2">
            <div class="text-center">
                <p>Ваше фото</p>
                <p>
                    <b-img fluid-grow :src="photo"></b-img>
                </p>
                <p>
                    Вы подтвердили участие. Ожидайте, пока подтверждение пройдёт модерацию.
                </p>
                <b-btn variant="link" class="mb-3" :to="{ name: 'event-confirm', params: { id: event.id }}">Изменить</b-btn>
                <br>
            </div>
        </template>

        <template v-if="event.id && !event.is_actual && state == 3">
            <div class="text-center">
                <p>Ваше фото</p>
                <p>
                    <b-img fluid-grow :src="photo"></b-img>
                </p>
                <p class="alert alert-success">
                    Фотоподтверждение принято и одобрено модератором
                </p>
            </div>
        </template>


        <template v-if="event.id && !event.is_actual && state == 4">
            <div class="text-center">
                <p class="alert alert-danger">
                    Подтверждение отменено. Причина — несоответствие фото заданным требованиям.
                </p>
                <b-btn variant="primary" class="mb-3" :to="{ name: 'event-confirm', params: { id: event.id }}">Загрузить другое фото</b-btn>
                <br>
            </div>
        </template>


        <b-modal id="decline-modal" @ok="declineParticipation" ok-title="Верно, я не участвовал" cancel-title="Отмена" title="Отмена участия">
            <p>Подтвердите, что вы не приняли участие в акции</p>
        </b-modal>

    </div>
    <div v-else class="text-center">
        <hr>
        <b-btn variant="primary" class="mb-3" href="/register/">Зарегистрируйтесь<br>и примите участие!</b-btn>
    </div>

</div></template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'

export default {
    props: ['id'],
    data() {
        return {
            event: [],
            state: null,
            photo: null,
        }
    },
    computed: {
        ...mapState({
            profile: 'profile'
        })
    },
    mounted() {
        this.fetchEvent()
            .then(this.checkEvent)        
    },
    methods: {
        fetchEvent() {
            return axios.get(`/events/${this.id}/`)
                .then(response => this.event = response.data)
        },
        checkEvent() {
            return axios.get(`/events/${this.id}/check/`)
                .then(response => {this.state = response.data.state; this.photo = response.data.photo})
        },
        joinEvent() {
            return axios.get(`/events/${this.id}/join/`)
                .then(this.checkEvent)
        },
        exitEvent() {
            return axios.get(`/events/${this.id}/exit/`)
                .then(this.checkEvent)
        },
        declineParticipation() {
            return axios.get(`/events/${this.id}/not_participated/`)
                .then(this.checkEvent)
        }
    }

}
</script>

<style>
    .event-date {
        font-style: italic;
    }
    .event-place {
        text-align: right;
        font-style: italic;
    }
</style>