<template><div>
    <h2 class="mb-3">{{ manager.name }}</h2>
    <p class="mb-3"><b-img fluid :src="manager.image" alt="" /></p>
    <div v-html="manager.description"></div>
</div></template>

<script>
    import axios from 'axios'
    export default {
        props: ['id'],
        data() {
            return {
                manager: {}
            }
        },
        mounted() {
            this.fetchManager()
        },
        methods: {
            fetchManager() {
                return axios.get('/managers/' + this.id + '/')
                    .then(response => this.manager = response.data)
            },
        }
    }
</script>