<template><div>
    <h2>Орзанизации</h2>
     <b-card-group deck v-for="ch in managers_chunks" :key="ch[0].id">
        <b-card 
                @click="gotoManager(manager.id)" 
                class="event-card clickable-card mt-3" 
                v-for="manager in ch" 
                :key="manager.id">
            <b-img :src="manager.image" style="max-height: 100px" fluid/>
            <h4 class="mb-1 mt-3">{{ manager.name }}</h4>
        </b-card>
    </b-card-group>
</div></template>

<script>
    import axios from 'axios'
    import chunk from 'lodash/chunk'
    export default {
        data() {
            return {
                managers: []
            }
        },
        computed: {
            managers_chunks() {
                return chunk(this.managers, 3)
            }
        },
        mounted() {
            this.fetchManagers()
        },
        methods: {
            fetchManagers() {
                return axios.get('/managers/')
                    .then(response => this.managers = response.data)
            },
            gotoManager(id) {
                this.$router.push({ name: 'manager', params: { id: id } })
            }
        }
    }
</script>

<style>
.clickable-card {
        cursor: pointer;
        padding: 0 !important;
    }
    @media (min-width: 576px) {
        .clickable-card {
            display: block;
            max-width: 30% !important;
            margin-right: 1.5% !important;
            margin-left: 1.5% !important;
        }
    }
</style>