<template><div>
    <h2>Модерация фотоподтверждений</h2>
    <template v-if="participations.length">
        <div v-for="event in participations" :key="event.id">
            <h4>{{ event.event_header }}</h4>
            <ul class="list-unstyled">
                <b-media tag="li" @click="gotoParticipation(p.id)" class="mt-3 event-card" v-for="p in event.participations" :key="p.id">
                    <b-img slot="aside" :src="p.thumb_120" alt="" width="120" height="120" />
                    <h5 class="mt-0 mb-1">{{ p.fio }}</h5>
                </b-media>
            </ul>
        </div>
    </template>
    <p v-else>Фотографии для модерации отсутствуют</p>
</div></template>

<script>
    import axios from 'axios'
    export default {
        data() {
            return {
                participations: []
            }
        },
        mounted() {
            this.fetchParticipations()
        },
        methods: {
            fetchParticipations() {
                return axios.get('/c-participations/')
                    .then(response => this.participations = response.data)
            },
            gotoParticipation(participation_id) {
                this.$router.push({ name: 'moderation-item', params: { id: participation_id } })
            }
        }
    }
</script>