<template><div>

    <h2>Модерация фотоподтверждений</h2>
    <h3>{{ participation.event_header }}</h3>

    <p class="text-center"><b-img fluid thumbnail :src="participation.thumb_500" class="mb-3"></b-img></p>
    <p class="text-center">{{ participation.fio }}</p>

    <h3>Требования к фотоподтверждению</h3>
    <div class="mb-3">
        {{ participation.confirmation_requirements }}
    </div>
    
    <hr>

    <template>
        <div class="text-center">
            <b-btn variant="primary" class="mb-3" @click="approve">Подвердить</b-btn>
            <b-btn variant="warning" class="mb-3" @click="decline">Отклонить</b-btn>
        </div>
    </template>

</div></template>

<script>
    import axios from 'axios'

    export default {
        props: ['id'],
        data() {
            return {
                participation: {},
            }
        },
        mounted() {
            this.fetchParticipation()
        },
        methods: {
            fetchParticipation() {
                return axios.get('/c-participations/' + this.id + '/')
                    .then(response => this.participation = response.data)
            },
            action(t) {
                return axios.get('/c-participations/' + this.id + '/' + t + '/')
                    .then(response => {
                        var next = response.data.next
                        if (next === null) {
                            this.$router.push({ name: 'moderation' })
                        }
                        else {
                            this.$router.push({ name: 'moderation-item', params: { id: next } })
                        }
                        
                    })
            },
            approve() {
                return this.action('approve')
            },
            decline() {
                return this.action('decline')
            }
        }
    }
</script>