<template>
    <div>
        <h2 class="mb-3">Профиль</h2>
        <table class="table">
            <tr v-if="profile.thumb">
                <td colspan="2">
                    <p class="text-center"><b-img fluid thumbnail :src="profile.thumb" @click="toggleUpload"></b-img></p>
                    <p class="text-center"><b-btn variant="link" @click="clearPhoto">Удалить фотографию</b-btn></p>
                </td>
            </tr>
            <tr v-else>
                <td colspan="2">
                    <p class="text-center"><b-btn variant="primary" @click="toggleUpload">Загрузить фотографию</b-btn></p>
                </td>
            </tr>
            <tr>
                <td class="ls-profile-caption">Адрес электронной почты</td>
                <td><b-input v-model="profile.email" disabled /></td>
            </tr>
            <tr>
                <td class="ls-profile-caption">Фамилия</td>
                <td><b-input v-model="profile.last_name" /></td>
            </tr>
            <tr>
                <td class="ls-profile-caption">Имя</td>
                <td><b-input v-model="profile.first_name" /></td>
            </tr>
            <tr>
                <td class="ls-profile-caption">Отчество</td>
                <td><b-input v-model="profile.third_name" /></td>
            </tr>
            <tr>
                <td class="ls-profile-caption">О себе</td>
                <td><b-form-textarea v-model="profile.about" rows="4" /></td>
            </tr>
        </table>
        <p><b-btn variant="primary" @click="saveProfile" :disabled="saving">Сохранить</b-btn><span v-if="saved" class="small">&nbsp;&nbsp;&nbsp;Изменения сохранены</span></p>

        <file-upload
            ref="upload"
            :hidden="true"
            url="/profile/upload_photo/"
            @success="successUpload">
        </file-upload>

    </div>
</template>

<script>
    import axios from 'axios'
    import { mapState, mapActions } from 'vuex'
    import clone from 'lodash/clone'
    import FileUpload from '../components/FileUpload.vue'

    export default {
        data () {
            return {
                profile: {},
                saving: false,
                saved: false
            }
        },
        computed: {
            ...mapState({
                stateProfile: 'profile'
            })
        },
        components: {
            FileUpload,
        },
        mounted() {
            this.updateProfileData()
        },
        methods: {
            ...mapActions([
                'fetchProfile'
            ]),
            updateProfileData() {
                this.profile = clone(this.stateProfile)
            },
            saveProfile() {
                this.saving = true;
                axios.post('/profile_save/', this.profile)
                    .then(response => {
                        return this.fetchProfile()
                    })
                    .then(() => {
                        setTimeout(() => {this.saving = false; this.saved = true}, 500)
                    })
            },
            toggleUpload() {
                this.$refs['upload'].hit()
            },
            successUpload() {
                this.fetchProfile()
            },
            clearPhoto() {
                return axios.get('/profile/delete_photo/')
                    .then(this.fetchProfile)
            }
        },
        watch: {
            stateProfile() {
                this.updateProfileData()
            }
        }
    }
</script>

<style>
     .ls-profile-caption {
         width: 25%;
         /* line-height: 36px */
     }
</style>
