<template><div>

    <template v-if="!profile.is_anonymous">
    <h2>Мой рейтинг</h2>
    <p>Подтверждённых участий: {{ profile.participation_count }}</p>
    <p>Количество баллов: {{ profile.points }}</p>
    <p>Место в рейтинге: {{ profile.place }}</p>
    <p>Статус: {{ profile.rank }}</p>
    </template>

    <h3>Рейтинг волонтёров</h3>
    <table class="table" v-if="results.length">
        <tr v-for="(item, index) in results" :key="item.id">
            <td>{{ index+1 }}</td>
            <td><b-img width="100" :src="item.photo"></b-img></td>
            <td>{{ item.last_name }} {{ item.first_name[0] }}. {{ item.third_name[0] }}.</td>
            <td>{{ item.points }}&nbsp;баллов</td>
        </tr>
    </table>

    <b-btn variant="link" v-if="next" @click="fetchNext">далее...</b-btn>

</div></template>


<script>

    import axios from 'axios'
    import { mapState, mapActions } from 'vuex'

    export default {
        data() {
            return {
                results: [],
                // prev: null,
                next: null
            }
        },
        computed: {
            ...mapState({
                profile: 'profile'
            })
        },
        mounted() {
            this.fetchRating()
        },
        methods: {
            fetchRating() {
                return axios.get('/rating/')
                    .then(response => {
                        this.results = response.data.results
                        this.next = response.data.next
                    })
            },
            fetchNext() {
                return axios.get(this.next)
                    .then(response => {
                        this.results = [...this.results, ...response.data.results]
                        this.next = response.data.next
                    })
            }
        }
    }

</script>
