<template><div class="container">

    <test-slide 
        v-if="current"
        :current="current"
        @pushed="processSlide">
    </test-slide>

    <template v-if="tags.length">
        <h3 class="mb-4">Поздравляем! Вы можете сделать мир лучше. Особенно хорошо у вас получится в этих направлениях:</h3>
        <b-card v-for="tag in tags" :key="tag" class="mb-4">
            <h4>{{ tags_descriptions[tag].tag }}</h4>
            <p>{{ tags_descriptions[tag].desc }}</p>
        </b-card>
        <p><b-btn size="lg" variant="success" @click="searchTags">Приступить!</b-btn></p>
    </template>

</div></template>

<script>
import axios from 'axios'
import TestSlide from '../components/TestSlide.vue'
import each from 'lodash/each'
import map from 'lodash/map'

export default {
    data() {
        return {
            quiz: [],
            results: [],
            current: null,
            current_index: 0,
            tags: [],
            tags_descriptions: {
                "social": { tagId: 1, tag: "Социальное волонтерство", desc: "Помощь детям, пожилым и больным людям" },
                "ecology": { tagId: 2,  tag: "Экология", desc: "Помощь живой природе и забота о её чистоте" },
                "donor": { tagId: 3,  tag: "Донорство", desc: "Срочная помощь попавшим в беду людям" },
                "sport": { tagId: 4,  tag: "Спорт", desc: "Волонтерство на спортивных мероприятиях" },
                "culture": { tagId: 5,  tag: "Культура", desc: "Доброволец в сфере культуры и искусства" },
                "media": { tagId: 6,  tag: "Медиа", desc: "Видео и фото-съемка мероприятий, монтаж роликов" },
                "medicine": { tagId: 7,  tag: "Медицина", desc: "Помощь на мероприятиях или в особых ситуациях" },
                "search": { tagId: 8,  tag: "Поиск людей", desc: "Помощь в поиске пропавших людей" },
                "animals": { tagId: 9,  tag: "Забота о животных", desc: "Помощь приютам для животных, попавших в беду" },
            }
        }
    },
    components: {
        TestSlide
    },
    mounted() {
        this.fetchQuiz()
        this.startQuiz()
    },
    methods: {
        fetchQuiz() {
            this.quiz = [
                { 
                    'id': 'hospis',
                    'question': 'Вас попросили посидеть рядом с больной старушкой, пока ей делают укол.', 
                    'variants': [
                        { 'value': 1, 'text': 'Отлично! Заодно расскажу ей анекдот' },
                        { 'value': 0, 'text': 'Вид крови? А-а-а-а-а!' },
                    ]
                },
                { 
                    'id': 'children',
                    'question': 'Вы оказались наедине с 10 маленькими детьми.', 
                    'variants': [
                        { 'value': 1, 'text': 'О, я знаю новую песенку - спою её вместе с ними!' },
                        { 'value': 0, 'text': 'Прощайте. Это был последний день в моей жизни.' },
                    ]
                },
                { 
                    'id': 'consultant',
                    'question': 'Мимо вас уже полчаса проходят люди. Все они задают один вопрос, ответ на который итак очевиден.', 
                    'variants': [
                        { 'value': 1, 'text': 'Это же отличный шанс улыбнуться таким милым гостям!' },
                        { 'value': 0, 'text': 'Откуда только берутся такие! Нет, чтобы немножко подумать.' },
                    ]
                },
                { 
                    'id': 'worker',
                    'question': 'Вас попросили выкопать яму, но спустя минуту сказали, что ошиблись, и попросили закопать её обратно.', 
                    'variants': [
                        { 'value': 1, 'text': 'Копать - так копать. Физический труд - залог здоровья!' },
                        { 'value': 0, 'text': 'Я лучше заплачу людям, которые сделают это за меня.' },
                    ]
                },
                { 
                    'id': 'tourist',
                    'question': 'Вы оказались в лесу наедине с ёлочками и берёзками.', 
                    'variants': [
                        { 'value': 1, 'text': 'Вот и прекрасно. Разведу костёр, заварю чай и посижу в тишине.' },
                        { 'value': 0, 'text': 'Немедленно звоню спасателям! Походы - это не моё.' },
                    ]
                },
                { 
                    'id': 'manager',
                    'question': 'Вопрос про менеджера', 
                    'variants': [
                        { 'value': 1, 'text': 'ДА' },
                        { 'value': 0, 'text': 'НЕТ' },
                    ]
                },
                { 
                    'id': 'giver',
                    'question': 'Вопрос про жертвователя.', 
                    'variants': [
                        { 'value': 1, 'text': 'ДА' },
                        { 'value': 0, 'text': 'НЕТ' },
                    ]
                },
            ]
        },
        startQuiz() {
            this.current = this.quiz[0]
        },
        processSlide(variant_id) {
            if (variant_id == 1) {
                this.results.push(this.current.id)
            }
            this.nextSlide()
        },
        nextSlide() {
            if (this.quiz.length-1 > this.current_index) {
                this.current_index += 1
                this.current = this.quiz[this.current_index]
            }
            else {
                this.processResult()
            }
        },
        processResult() {
            var mapping = [
                {'topic': 'social', 'matches': ['hospis', 'children', 'consultant']},
                {'topic': 'ecology', 'matches': ['spec-ecology', 'worker', 'tourist', 'manager']},
                {'topic': 'donor', 'matches': ['children', 'giver']},
                {'topic': 'sport', 'matches': ['worker', 'consultant', 'spec-camera', 'manager']},
                {'topic': 'culture', 'matches': ['spec-art', 'worker', 'spec-camera']},
                {'topic': 'media', 'matches': ['spec-camera']},
                {'topic': 'medicine', 'matches': ['spec-medic']},
                {'topic': 'search', 'matches': ['tourist', 'worker', 'spec-auto', 'manager']},
                {'topic': 'animals', 'matches': ['worker', 'giver']}
            ]
            var matched_topics = []
            each(this.results, result => {
                each(mapping, m => { console.log(m); if (m.matches.indexOf(result) != -1 && matched_topics.indexOf(m.topic) == -1) matched_topics.push(m.topic)})
            })
            this.current = null
            this.tags = matched_topics
        },
        searchTags() {
            var ids = map(this.tags, tag => this.tags_descriptions[tag].tagId)
            var url = '/future/?tags=' + ids
            this.$router.push({ path: url })
        }
    }
}
</script>