<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Вход и регистрация</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "vendor/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "vendor/css/style.css" %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static "vendor/css/colors/blue.css" %}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>

    {% block whole %}
    <section id="wrapper">   
        <div class="login-register">
            <!-- <p class="logo"><a href="/"><img src="{% static 'img/logo.png' %}"></a></p> -->
            <div class="login-box card">
            <div class="card-body">
                {% block main %}{% endblock %}
            </div>
        </div>
    </section>
    {% endblock %}
    

    <script src="{% static "vendor/plugins/jquery/jquery.min.js" %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static "vendor/plugins/bootstrap/js/popper.min.js" %}"></script>
    <script src="{% static "vendor/plugins/bootstrap/js/bootstrap.min.js" %}"></script>

    {% block scripts %}
    {% endblock %}

</body>

</html>