{% extends "registration/layout.html" %}

{% block main %}
<form class="form-horizontal form-material" id="loginform" action="" method="post">
    {% csrf_token %}
    <h3 class="box-title m-b-20">Вход на сайт</h3>
    <div class="form-group ">
        <div class="col-xs-12">
            <input class="form-control" id="username" name="username" type="text" required="" placeholder="Имя пользователя" {% if email %}value="{{ email }}"{% endif %}> </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <input class="form-control" id="password" name="password" type="password" required="" placeholder="Пароль"> </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12 font-14">
            <a href="javascript:void(0)" id="to-recover" class="text-dark">Забыли пароль?</a>
            {% if invalid %}<p class="text-danger">Указанные имя или пароль не найдены. Убедитесь, что Вы вводите их без лишних пробелов и повторите попытку.</p>{% endif %}
        </div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Войти</button>
        </div>
    </div>
    <div class="form-group m-b-0">
        <div class="col-sm-12 text-center">
            <div>Впервые здесь? <a href="/register/" class="text-info m-l-5"><b>Зарегистрируйтесь</b></a></div>
        </div>
    </div>
</form>
<form class="form-horizontal" id="recoverform" action="/register/recover/">
    <div class="form-group">
        <div class="col-xs-12">
            <h3>Восстановление пароля</h3>
            <p class="text-muted">Для восстановления пароля введите ваш адрес электронной почты</p>
        </div>
    </div>
    <div class="form-group ">
        <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Адрес электронной почты" id="recover-email" name="recover-email"> </div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">ОТПРАВИТЬ</button>
        </div>
    </div>
    <div class="form-group m-b-0">
        <div class="col-sm-12 text-center">
            <div><a href="javascript:void(0)" id="to-login" сlass="text-info m-l-5"><b>Вернуться</b></a></div>
        </div>
    </div>
</form>
{% endblock %}


{% block scripts %}
    <script>
    $(function() {
        if ($('#username').val()) {
            $('#password').focus();
        }
        else {
            $('#username').focus();
        };

        $('#to-recover').click(function() {
            $('#loginform').hide();
            $('#recoverform').show();
            $('#recover-email').focus();
        })
        $('#to-login').click(function() {
            $('#loginform').show();
            $('#recoverform').hide();
        })
    });
    </script>
{% endblock %}