{% extends "registration/layout.html" %}

{% load static %}

{% block main %}
<form class="form-horizontal form-material" id="loginform" action="" method="post">
    {% csrf_token %}
    <h3 class="box-title m-b-20">Регистрация</h3>
    <p>Пожалуйста, заполните все поля.</p>

    {% if error == 'exists' %}
        <p class="alert alert-danger">Такой адрес уже зарегистрирован. <a href="/login/?email={{ email }}">Войдите в систему.</a></p>
    {% endif %}
    {% if error == 'email' %}
        <p class="alert alert-danger">Адрес электронной почты указан неправильно. Пример: ivanov@yandex.ru</p>
    {% endif %}

    <div class="form-group">
        <div class="col-xs-12">
            <input class="form-control" id="username" name="username" type="email" required="true" placeholder="Адрес e-mail" {% if email %}value="{{ email }}"{% endif %}>
            <br><br>
            <input class="form-control" id="password" name="password" required="true" placeholder="Пароль" type="password">
            <br><br>
            <input class="form-control" id="first_name" name="first_name" required placeholder="Имя">
            <br><br>
            <input class="form-control" id="third_name" name="third_name" placeholder="Отчество">
            <br><br>
            <input class="form-control" id="last_name" name="last_name" placeholder="Фамилия">
            <br><br>
            <input class="form-control" id="about" name="about" placeholder="О себе" data-validation-required-message="Заполните поле">
        </div>
    </div>


    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block waves-effect waves-light" id="btn" type="submit">Зарегистрироваться</button>
        </div>
    </div>
    <div class="form-group m-b-0">
        <div class="col-sm-12 text-center">
            <div>Уже зарегистрированы? <a href="/login/" class="text-info m-l-5"><b>Войти</b></a></div>
        </div>
    </div>
</form>
{% endblock %}


{% block scripts %}
    <script>
        $(function() {
            $('#username').focus();
        });
        $('#btn').click(function() {
            if ($('#username').val() && $('#password').val() && $('#first_name').val()) {
                $(this).attr('disabled', 'disabled');
                $('form').submit();
            }
        });
    </script>
{% endblock %}
