{% extends "registration/layout.html" %}

{% block main %}
<form class="form-horizontal form-material" id="loginform" action="" method="post">
    {% csrf_token %}
    <h3 class="box-title m-b-20">Добро пожаловать!</h3>
    <p>Регистрация завершена.</p>

    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <a class="btn btn-info btn-lg btn-block waves-effect waves-light" href="/">Продолжить</a>
        </div>
    </div>

</form>
{% endblock %}


{% block scripts %}
    <script>
        $(function() {
            $('#username').focus();
        });
    </script>
{% endblock %}
